[Desktop Entry]
Name=urxvt
Comment=a VT102 emulator for the X window system
Exec=urxvt
Terminal=false
Type=Application
Icon=gnome-xterm
Categories=System;TerminalEmulator;
